<div class="container"><h1>Vision</h1>
<h3>Being an agricultural minister can be a very stressful and difficult job, and it is often very difficult to explain the problems that you, as an agricultural minister, go through every day. 
Here at AMM we believe that everyone deserves someone that understands them, and that includes understanding their profession. After extensive analysis in a multitude of demographics we found that the group best equipped to
fill this role was other agricultural ministers.</h3></div>